html{
    font-size: 63%;
}

body{
    margin: 0;
    font-family: sans-serif;
    background-color: aliceblue;
    height: 100vh;
    width: 100vw;
}

.box{
    display: flex;
    justify-content: center;
    height:60rem;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transition: filter 1s;
}
h2 {
    font-size: 4rem;
    letter-spacing: 0.5rem;
    text-shadow: .2rem .3rem .9rem dimgray;

}
.box .btn{
    background-color: aqua;
    padding: 1rem 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    border-radius: 5rem;
    box-shadow: .2rem .4rem .9rem gray;
}
.box .btn:hover{
    background-color: rgb(0, 255, 76);
    padding: 2rem 3rem;
}

.active.box{
    filter: blur(1rem) brightness(.7);
}

.boxa{
    width: 20rem;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: black;
    color: aliceblue;
    padding: 3rem;
    text-align: center;
    border: 1rem solid rgb(236, 155, 155);
    border-radius: 5rem;
    box-shadow: .2rem .2rem 1rem gray;
    display: flex;
    flex-direction: column;
    opacity: 1;
    transition: all 1s;
    font-weight: 700;

}

.btn2{
    background-color: aqua;
    border: none;
    border-radius: 5rem;
    padding:1rem;
    margin-top: 2rem;
    cursor: pointer;
    font-weight:700;
}
.btn2:hover{
    background-color: lawngreen;
}
.boxa .text{
    border: none;
    border-radius: 5rem;
    padding:1rem;
    text-align: center;
    font-weight: 700;
    
}
.icon{
    font-size: 3rem;
    position: absolute;
    cursor: pointer;
    right: .6rem;
    top: .6rem;
    
}
.icon:hover{
    color: aquamarine;
}

.active.boxa{
    visibility: hidden;
    opacity: 0;
}

#label{
    font-size: 2rem;
}
h4{
    font-size: 2rem;
}

@media (max-width:800px){
    html{
        font-size: 60%;
    }
};/*divice width jese hi 800px se kam hota hai font size 60% = 9px ho jayega*/