body{
    background-color: #2f2f2f;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    text-transform:uppercase;
}

.text {
    color: white;
    text-shadow: 2px 2px 10px black;
    text-align: center;
    
}